{% extends 'base.html' %}

{% block body %}
<link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
<div class="container">
        <div class="col-md-12 py-5">
            {{figure|safe}}
        </div>
        <div class="col-md-12 py-5">
            {{figure1|safe}}
        </div>
         <div class="row">
            <div class="col-md-12 mx-auto">
    <!--            for safety-->
                {{out|safe}}
            </div>

         </div>
</div>
{% endblock %}
{% block javascript%}
<script crossorigin="anonymous"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(() => {
        let table = new DataTable('.dataframe', {
            responsive: true
        });
    })
</script>
{%endblock%}
