{% extends 'base.html' %}


{% block body %}
<link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">


<div class="container py-5">
     <div class="two">
  <h2>Hashtag Analysis
  </h2>
</div>
    <div class="col-md-12 py-5">
        <form method="post">
            <input max="500" min="10" step="10" type="number" value="{{ts}}" name="tag_size"> Update range
        </form>
        {{figure|safe}}
    </div>
    <div class="two">
  <h2>Top 50 hashtags
  </h2>
</div>
    <div class="col-md-12">
        {{figure3|safe}}
    </div>

    <div class="two">
  <h2> Posts vs Day of the week
  </h2>
</div>

     <div class="col-md-12">
        {{figure4|safe}}
    </div>
   
    <div class="row">
        <div class="col-md-12 mx-auto">
            <!--            for safety-->
            {{out|safe}}
        </div>

    </div>
    
</div>
{% endblock %}
{% block javascript%}
<script crossorigin="anonymous"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(() => {
        let table = new DataTable('.dataframe', {
            responsive: true
        });
    })
</script>
{%endblock%}
