{% extends 'base.html' %}
{% block body %}

   <head>
      <meta charset="UTF-8">
      <title>Instant Policies</title>

       </head>
   <body>
    <div class="d-flex justify-content-center align-center  flex-column mx-5 mt-4" data-aos="fade-right"  >
        <div class="two mb-4"  >
      <h2>Instant Policies</h2>
        </div>
      <p>
         At Instant, we provide the latest hashtag trend analysis to help our users stay informed about the most popular and trending topics on social media platforms. We are committed to protecting the privacy and security of our users while providing valuable insights. This policy outlines how we collect, use, and protect the data related to hashtag trend analysis on our website.
      </p>
      <h4>Opting Out </h4>
      <p>Users who do not wish to have their data included in our hashtag trend analysis can opt-out by contacting us through the provided channels. However, please note that publicly available data may still be included in our analysis.</p>
      <h4>Cookie Policy</h4>
      <p>We may use cookies and similar technologies to enhance user experience and collect non-personally identifiable information. Users can control their cookie preferences through their browser settings.</p>
      <h4>Policy Updates</h4>
      <p>We may update this policy from time to time to reflect changes in our practices or legal requirements. We encourage users to review this policy periodically to stay informed about how we handle hashtag trend analysis data.If you have any questions or concerns about our hashtag trend analysis policy, please contact us through the provided channels.</p>
      <p><b>Last updated: 10-04-2023</b></p>
      <p>Note: This policy is a general guideline and may need to be customized to fit the specific requirements of your website.</p>
    </div>
   </body>
</html>
{% endblock %}

{% block javascript %}
<!-- aos script -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      type="module"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
{% endblock %}